/*
   REMOVE ALL GARBAGE FROM ALL NODE'S STYLES
*/
*{ border:0; margin:0; padding:0; outline:0; }

/*
   DEFAULT LINKS
*/
a{
   font-family: 'Open Sans',monospace;
   font-weight: normal;
   font-style: normal;
   color: #000000;
   text-decoration: none;
}
a:hover{
   text-decoration: underline;
}

/*
   SELECTION
*/
::selection {
   background: #000000;
   color: #ffffff;
}
::-moz-selection {
   background: #000000;
   color: #ffffff;
}

/*
   DISABLE SELECTION
*/
.notSelectable{
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
}



/*
   BODY
*/
body{
   position: relative;
   font-family: 'Open Sans',monospace;
   font-weight: 300;
   font-style: normal;
   font-size: 12px;
   color: #000000;
   background: #ffffff;
   padding: 200px 0 100px 0;
   overflow-x: hidden;
}

.roundBnt{
   display: inline-block;
   cursor: pointer;
   font-size: 30px;
   text-align: center;
   line-height: 45px;
   padding: 0 16px 2px 16px;
   border-radius: 22px;
}
.roundBnt.dark{
   color: #ffffff;
   background: #383838;
}
.roundBnt.dark.disabled{
   color: #383838;
   border: #383838 2px solid;
}
.roundBnt.light{
   color: #ffffff;
   background: #000000;
}
.roundBnt.light.disabled{
   color: #ffffff;
   border: #ffffff 2px solid;
}
.roundBnt.disabled{
   background: transparent;
   cursor: default;
   line-height: 43px;
}