#header{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: 60px;
   background: #000000;
   color: #ffffff;
   z-index: 10;
}

#header .title{
   position: absolute;
   left: 25px;
   top: 0;
   line-height: 60px;
   font-size: 32px;
}

#header .add{
   position: absolute;
   right: 25px;
   top: 70px;
   width: 60px;
   height: 60px;
   display: none;
   background: #000000;
   text-align: center;
   line-height: 60px;
   font-size: 30px;
   font-weight: 400;
   cursor: pointer;
   border-radius: 50%;
}
#header .add.visible{ display: block }

#header .userInfo{
   position: absolute;
   right: 25px;
   top: 0;
   display: none;
   cursor: pointer;
}
#header .userInfo.visible{ display: block }

#header .userInfo .avatar{
   position: absolute;
   top: 10px;
   right: 0;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: rgba(255,255,255,0.3) 1px solid;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}

#header .userInfo .name{
   position: relative;
   top: 0;
   padding: 0 55px 0 0;
   display: block;
   line-height: 60px;
   font-size: 22px;
}

#header .login{
   position: absolute;
   right: 25px;
   top: 0;
   display: none;
   cursor: pointer;
   line-height: 60px;
   font-size: 22px;
}
#header .login.visible{ display: block }

#header .progress{
   position: absolute;
   right: 25px;
   top: 0;
   display: none;
   cursor: default;
   line-height: 60px;
   font-size: 22px;
}
#header .progress.visible{ display: block }