<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Fusion MarketPlace</title>

    <script src="/scripts/jquery-1.11.3.min.js"></script>
    <script src="/scripts/underscore.js"></script>
    <script src="/scripts/oxygen_plugin.js"></script>

</head>

<body>
<h1>Fusion MarketPlace</h1>
<h2>Welcome <%- userName %></h2>

<a href="fusion360://userId=ernest.toth%40autodesk.com&permalinkId=https%3A%2F%2Fmyhub.autodesk360.com%2Fue29c8a51%2Fxdio%2Fpermalink%2FXD919a0QTf3c32634dcf6bc41736ea498368hubId=ue29c8a51documentName=docTest1">Open file in Fusion</a>
</body>
</html>



fusion360://userId=ernest.toth%40autodesk.compermalinkId=https%3A%2F%2Fmyhub.autodesk360.com%2Fue29c8a51%2Fxdio%2Fpermalink%2FXD919a0QTf3c32634dcf6bc41736ea498368hubId=ue29c8a51documentName=docTest1