<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Fusion MarketPlace</title>

    <script src="/scripts/jquery-1.11.3.min.js"></script>
    <script src="/scripts/underscore.js"></script>
    <script src="/scripts/oxygen_plugin.js"></script>

</head>

<body>
<h1>Fusion MarketPlace</h1>
<h2>Welcome <%- userName %></h2>
</body>
</html>
