<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Fusion MarketPlace</title>

    <script src="/scripts/jquery-1.11.3.min.js"></script>
    <script src="/scripts/underscore.js"></script>
    <script src="/scripts/oxygen_plugin.js"></script>

</head>

<body>
<h1>Fusion MarketPlace</h1>

<p>
    <a id="loginWithOxygen" href="#" style="display:none">Login with Oxygen&rarr;</a>
    <span id="checkingOxygen">Oxygen is checking if you are logged in...</span>
</p>

<script>
    $(document).ready(function() {
        Oxygen.checkImmediate();
        $('#loginWithOxygen').bind('click', function() {
            Oxygen.setOptions({viewmode: 'iframe', viewmode_options: {width: 350, height: 356}}).show();
        });
    });
</script>
</body>
</html>
