<ion-header-bar class="bar-positive">
    <div class="buttons">
        <button class="button" ui-sref="projects">Back</button>
        <h1 class="title">Create project</h1>
    </div>
</ion-header-bar>

<ion-content>
    <div>
        <ion-list>
            </br>
            <li class="item item-input item-stacked-label">
                <textarea type="text" placeholder="title..." name="title" rows="1" ng-model="project.title" required></textarea>
            </li>
            </br>
            <li class="item item-input item-stacked-label">
                <textarea type="text" placeholder="budget..." name="budget" rows="1" ng-model="project.budget" required></textarea>
            </li>
            <br/>
            <li class="item item-input item-stacked-label">
                <textarea type="text" placeholder="deadline..." name="deadline" rows="1" ng-model="project.deadline" required></textarea>
            </li>
            <br/>
            <li class="item item-input item-stacked-label">
                <textarea type="text" placeholder="description..." name="description" rows="7" ng-model="project.description" ></textarea>
            </li>
            <img class="newproject" ng-src="{{project.imgUrl}}" ng-click="getPhoto()">

            <ion-button class="button button-block button-positive" ng-click="create()">
                Add
            </ion-button>
        </ion-list>
    </div>
</ion-content>